header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
}

.header-block a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.header-block a:hover {
    background-color: #0056b3;
}

/*.form-control {*/
/*    border: 1px solid #ccc;*/
/*    padding: 10px;*/
/*    border-radius: 4px;*/
/*    width: 100%;*/
/*}*/
