{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'RecipeApplication/css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-block">
            <a href="{% url 'index' %}">Главная</a>
        </div>
        <div class="header-block">
            <a href="{% url 'register' %}">Зарегистрироваться</a>
            <a href="{% url 'logout_view' %}">Выход</a>
        </div>
    </header>

    {% block content %}
        
    {% endblock %}
</body>
</html>