{% extends 'RecipeApplication/base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <h1>Добро пожаловать на сайт</h1>
    <button>
        <a href="{% url 'create_recipe' %}">Добавить рецепт</a>
    </button>
    <div class="container">
        <ul class="list-items">
            {% for recipe in recipes %}
                <li class="item">
                    <h2>{{ recipe.title }}</h2>
                    <a href="{% url 'recipe_detail' recipe_id=recipe.pk %}">
                        <img class="picture" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    </a><br>
                    <h2>{{ recipe.description }}</h2>
                    <p>Время: {{ recipe.cooking_time }} мин</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
