.picture {
    width: 200px;
    height: 200px;
}

.list-items {
    display: flex;
}

.item {
    background-color: lavender;
    margin-right: 20px;
}

.container {
    background-color: antiquewhite;
}